.body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 1rem;
}
.description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
.description h2 {
  max-width: 500px;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
}

.line {
  width: 90px;
  height: 6px;
  background-color: var(--lime);
  margin-top: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
