.card .card_image {
  width: 100%;
  height: 380px;
  background: var(--grey-200);
  position: relative;
}

.card img {
  width: 100% !important;
  height: 86% !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.card p {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  color: var(--grey-500);
  font-weight: 500;
  margin-bottom: 4px;
}

.card_content h3,
.card_content span {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: var(--grey-900);
  font-weight: 800;
}

.card_content span {
  text-align: right;
}

.card_content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  text-transform: uppercase;
  color: var(--grey-900);
}
